body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #19183B; /*HEX*/
}

.Heading {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 46px;
    background-color: hsla(0, 0%, 94%, 0.25); /*HSLA (25% transparency)*/
    color: hsl(0, 0%, 94%); /*HSL*/
}

.lorem {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: justify;
    font-size: 32px;
    background-color: rgba(240, 240, 240, 0.05); /*RGBA (5% transparency)*/
    color: rgb(240, 240, 240); /*RGB*/
}

button {
    display: block;
    margin: auto;
}

.theButton {
    background-color: green; /*COLOR NAME*/
    color: white; /*COLOR NAME*/
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1.7px;
    font-size: 23px;
    font-weight: 800;
}

.theButton:hover {
    background-color: darkgreen; /*COLOR NAME*/
}